.navbar {
  height: 60px;
  background-color: $white;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &__contnet {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0px 10px;

    .aside__button {
      cursor: pointer;
      background-color: $grey-2;
      padding: 5px 10px;
      border-radius: 5px;
      color: $white;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
    }
    .opened-ar {
      background-color: $blue;
    }
    .opened-en {
      background-color: $blue;
    }

    .right {
      display: flex;
      flex-flow: row;
      align-items: center;

      .languages {
        cursor: pointer;
        display: flex;
      }

      .logout {
        padding-top: 6px;
        margin: 0px 20px;
        cursor: pointer;
        .ar {
            transform: rotate(180deg);
        }
        .icon {
          font-size: 2.2rem;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
.opened-ar {
  margin-right: 220px;
}
.opened-en {
  margin-left: 220px;
}
