// White
$white: #fff;
$white-1: #F5F6FA;

// black
$black: #000;

// Grey
$grey: #969AA2;
$grey-1: #D3D5D9;
$grey-2: #1E1E2D;
$grey-3: #1A1927;
$grey-4: #a2a3b7;
// purple 
$purple : #4c4e6f;
$purple-1: #494B74;
// blue
$blue: #3599FF;
$blue-1: #CFDFF0;

//red 
$red: #FF3F3E;

//green 
$green: #02BB43;
