// White
$white: #fff; // white
$white-1: #E8EAF2; // background-color

// black
$black: #000; // black

// Grey
$grey: #969AA2; // input's placeholder's color
$grey-1: #B5B5C3;  // input's border's color (lighter)
$grey-2: #1E1E2D; // sidenav top
$grey-3: #1A1927; // sidenav bottom
$grey-4: #a2a3b7;
$grey-5: #6a6c70;
// purple 
$purple : #4c4e6f; // sidenav's main-section's color 
$purple-1: #494B74; // listitem's icon

// blue
$blue: #007bff; // blue

//red 
$red: #dc3545; // red

//green 
$green: #28a745; // green
$green-1: #C9F7F6;
$green-2: #2bb3ac;
