// White
$white: #fff;

// black
$black: #000;

// Grey
$grey: #969AA2;
$grey-1: #D3D5D9;
$grey-2: #2e323c;
$grey-3: #59606e;

// blue
$blue: #027AE1;
$blue-1: #CFDFF0;

//red 
$red: #FF3F3E;

//green 
$green: #02BB43;