@import "./fonts.scss";
html {
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family:  Tajawal;
  background-color: $white-1;
}

body {
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}