.explainIcons {
    width: 100%;
    .content {
        display: flex;
        flex-flow: row;
        justify-content: center;
        .item {
            display: flex;
            flex-flow: row;
            margin: 0px 20px;
            .icon {
                width: 50px;
                .walking {
                    color: $red;
                }
            }
            .desc {
                padding-top: 2px;
            }
        }
    }
}


@media (max-width: $small-devices) {
    .explainIcons {
        .content {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        }
    }
  }