.seats {
  width: 95%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 30px;

  .content {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    .info {
      margin-bottom: 50px;
    }
    .screen {
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 4rem;
    }

    .data {
      display: flex;
      flex-flow: row;
      justify-content: center;
      margin-top: 40px;
      width: 100%;

      .rowsNumbers {
        width: 40px;
        display: flex;
        flex-flow: column;
        color: $blue;
        margin-top: 30px;

        .rowNumber {
          min-height: 60px;
          font-size: 2rem;
          min-width: 40px;
          position: relative;

          .key {
            z-index: $z-rowNumber;
            position: relative;
            cursor: pointer;
          }

          .options {
            position: absolute;
            top: 0;
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            z-index: $z-columnNumber;
            animation: showBox forwards ease-in 0.2s;

            .arrow {
              width: 15px;
              height: 15px;
              background: black;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              border-radius: 3px;
              position: relative;
              top: 1.5px;
            }
            .arrow-en {
              right: -10px;
            }
            .arrow-ar {
              left: -10px;
            }

            .box-en {
              border-top-left-radius: 0px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }

            .box-ar {
              border-top-right-radius: 0px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
          .options-en {
            left: 10px;
          }
          .options-ar {
            right: 10px;
          }

        }
      }
      .rowsNumbers-ar {
        margin-left: 50px;
      }
      .rowsNumbers-en {
        margin-right: 50px;
      }

      .seats--container {
        display: flex;
        flex-flow: column;
        overflow-x: scroll;

        .columnsNumbers {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          margin-bottom: 60px;
          color: $blue;

          .columnNumber {
            cursor: pointer;
            font-size: 2rem;
            min-width: 40px;
            display: flex;
            flex-flow: column;
            position: relative;
            .options {
              position: absolute;
              top: 15px;
              display: flex;
              flex-flow: column;
              align-items: flex-start;
              z-index: 100;
              animation: showBox forwards ease-in 0.2s;
  
              .arrow {
                width: 15px;
                height: 15px;
                background: black;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 3px;
                position: relative;
                top: 10px;
              }
              .arrow-en {
                left: 2px;
              }
              .arrow-ar {
                right: 2px;
              }
  
              .box-en {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
              }
  
              .box-ar {
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
              }
            }
            .options-en {
              left: -4px;
            }
            .options-ar {
              right: -4px;
            }
          }
        }
        .columnsNumbers-en {
          padding-left: 5px;
        }
        .columnsNumbers-ar {
          padding-right: 5px;
        }
        .row {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          padding-top: 6px;
          min-height: 60px;

          .seat--container {
            min-width: 40px;
            width: 40px;
            position: relative;
            .options {
              position: absolute;
              top: 15px;
              display: flex;
              flex-flow: column;
              align-items: flex-start;
              z-index: 100;
              animation: showBox forwards ease-in 0.2s;
  
              .arrow {
                width: 15px;
                height: 15px;
                background: black;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 3px;
                position: relative;
                top: 10px;
              }
              .arrow-en {
                left: 2px;
              }
              .arrow-ar {
                right: 2px;
              }

              .box-en {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
              }
  
              .box-ar {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
          }

        }
      }

      .corridor-icon {
        color: $red;
      }

      .box {
        background-color: $white;
        width: 170px;
        z-index: 1;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: 0px 0px 10px 0px $white-1;
        
        .closeIconContainer {
          cursor: pointer;
          .closeIcon {
            color: $grey-2;
            font-size: 1.4rem;
            width: 100%;
          }
          .closeIcon-ar {
            text-align: left;
            padding-left: 5px;
          }

          .closeIcon-en {
            text-align: right;
            padding-right: 5px;
          }

        }

        .function {
          font-size: 1.4rem;
          color: $purple;
          height: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          &:hover {
          background-color: $white-2;
          }
          .icon {
            width: 20px;
            display: block;
          }
        }
        .function-en {
          padding-left: 15px;
        }
        .function-ar {
          padding-right: 15px;
        }
      }
    }
  }
}


@keyframes showBox {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
