.info {
  width: 70%;
  margin: 0 auto;
  .title {
    font-size: 2rem;
    margin-bottom: 30px;
    display: inline-block;
  }
  .inputs {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
  }
  .input--container {
      width: 250px;
  }
  .toggle-input {
    padding-bottom: 6px;
    display: flex;
    flex-flow: column;
  }
  .input--container:not(:first-child){
    margin: 0px 10px;
  }
  margin-bottom: 20px;
}


@media (max-width: $small-devices) {
  .info {
    .inputs {
      flex-flow: column;
      align-items: center;
    }
    .input--container {
      max-width: 100%;
    }
    .input--container:not(:first-child){
      margin: 10px 0px 0px;

    }
  }  
}