.aside {
  background-color: $grey-2;
  height: 100vh;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 0px 20px 0px #d6d7e0;
  z-index: 400;
  overflow-y: scroll;
  width: $aside-width;
  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-3;
    .logo {
      &-main {
        width: 90px;
        height: 30px;
      }
    }
  }

  .bottom {
    height: 200px;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

.show-animation {
  animation: show 0.3s forwards ease-in-out;
}
.hide-animation {
  animation: hide 0.3s forwards ease-in-out;
}


@keyframes show {
  0% {
    width: 0px;
    display: none;
  }
  100% {
    width: $aside-width;
    display: flex;
  }
}
@keyframes hide {
  0% {
    width: $aside-width;
  }
  100% {
    width: 0px;
  }
}
